// COLORS
$primary-color: #34e89e;
$secondary-color: #237a57;
$font-family: "Montserrat", sans-serif;

$light-white: #f1efef;
$white-color: #ffffff;
$dark-grey: #333333;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
